<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:component-scan base-package="ru.otus.L15.1"></context:component-scan>


    <context:component-scan base-package="messageSystem"/>
    <context:spring-configured/>
    <bean id="dbAddress" class="messageSystem.Address" scope="prototype">
        <constructor-arg index="0" value="DB"/>
    </bean>

    <bean id="frontAddress" class="messageSystem.Address" scope="prototype">
        <constructor-arg index="0" value="Frontend"/>
    </bean>

    <bean id="adminServlet" class="servlet.AdminServlet">
        <property name="dbService" ref="cacheService"/>
    </bean>


    <bean id="wsServlet" class="ws.WebSocketChatServlet">
    </bean>

    <bean id="messageSystemContext" class="messageSystem.MessageSystemContext" scope="prototype">
        <constructor-arg name="messageSystem" ref="messageSystem"/>
        <property name="frontAddress" ref="frontAddress"/>
        <property name="dbAddress" ref="dbAddress"/>
    </bean>

    <bean id="cacheService" class="dbservice.CacheServiceImpl" init-method="init">
        <property name="cacheEngine" ref="cacheEngineImpl"/>
        <property name="context" ref="messageSystemContext"/>
        <property name="address" ref="dbAddress"/>
    </bean>

    <bean id="cacheEngineImpl" class="cache.CacheEngineImpl">
        <constructor-arg value="1000"/>
        <constructor-arg value="10000000"/>
        <constructor-arg value="10000000"/>
    </bean>

    <bean id="frontendService" class="front.FrontendServiceImpl" init-method="init">
        <constructor-arg name="context" ref="messageSystemContext"/>
        <constructor-arg name="address" ref="frontAddress"/>
        <constructor-arg name="webSockets" ref="webSocketService"/>
    </bean>

    <bean id="templateProcessor" class="servlet.TemplateProcessor"/>

    <bean id="webSocketService" class="ws.WebSocketsHolderImpl">
    </bean>

    <bean id="wsCreator" class="ws.WSCreator">
    </bean>

    <bean id="applicationContextProvider" class="ws.ApplicationContextProvider"/>

    <context:annotation-config></context:annotation-config>

</beans>